*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #2C2B3D;
    color: #FFF;
}

.page{
    width: 1280px;
    margin: 0 auto;
    min-height: 100vh;

    margin-top: 71px;
    padding: 0 100px;

}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 101px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 64px;

    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
}

nav ul a{
    text-decoration: none;
    color: #FFF;
}

nav ul a:hover{
    color: #00BFA6;
}

main{
    display: flex;
    justify-content: space-between;
    margin-bottom: 167px;
}

.container_text{
    width: 604px;
    text-align: center;
}

.container_text h1{
    font-family: 'JetBrains Mono', monospace;
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;

    margin-bottom: 59px;
}

.container_text p{
    font-family: 'Open Sans', sans-serif;
    color: #C2C2C2;
    font-size: 16px;
    font-weight: 400px;
    line-height: 28px;
}

.container_text span{
    color: #00BFA6;
    font-weight: bold;
}

.line{
    width: 568px;
    border: 1px solid #00BFA6;
    margin: 0 auto 27px;
}

footer{
    position: relative;
}

footer p{
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
    line-height: 28px;
}

footer p a{
    text-decoration: none;
    color: #FFF;
}

footer p a:hover{
    color: #00BFA6;
}

.image_footer{
    position: absolute;
    bottom: 0;
    left: 0;
}